<div class="boostrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Bienvenido al banco pistio</h1>
                <h2>Sistema de Quejas</h2>
            </div>
        </div>
        <div>
            <p>El sistema de quejas sirve para recibir quejas, realizar quejas, comentarios y sugerencias de los usuarios al banco el pistio
                y asi poder mejorar la calidad de servicio y la experiencia de los usuarios.
            </p>
        </div>
        
    </div>
    
</div>